<%= render 'layouts/dash'%>
<br>
<div class="div1">
<div>
<%= button_to "Recruiter", recruiters_path, class: "box", method: :get%>
<br>
</div>

<div>
<%= button_to "Applicant", applicants_path, class: "box", method: :get%>
<br>
</div>

<div>
<%= button_to "Job Application", job_applications_path, class: "box", method: :get%>
</div>
</div>
