<%= render 'layouts/dash'%>
<div class="container">
    <div>
    
    <br>
    <div class="div1">
    <%= button_to "Products", products_path, class: "btn", method: :get%>
    </div> 
    <br/>


    <div class="div1">
    <%= button_to "Tags", tags_path, class: "btn", method: :get%>
    <br>
    </div>
    <div>
<div>