<div class="background">
<center>
<div class="land">
<h3>WELCOME TO INFOALL</h3><br>
<h3>Your Information, Your Identity</h3><br>
<%= button_to "sign in", user_session_path, class: "btn btn-primary", method: :get%>
</div>
</center>
</div>