@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  

.navbar{
    background-color: rgb(253, 120, 10);
    height: 65px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.background{
  background-image: url(https://static.vecteezy.com/system/resources/previews/005/157/645/original/indian-flag-theme-republic-day-watercolor-texture-patriotic-background-free-vector.jpg);
  background-size: cover;
  height: 130vh;
}

.link {
    
    color: rgb(253, 250, 244);
    font-size: x-large;
    height: 12vh;
    display: flex;
    flex-direction :column;
    align-items: center;
    justify-content: center;
    float: left;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    
}

.navbar a {
    float: left;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    
  }

.pagination {
  text-align: center;
  justify-content: center;
}

.adlogo{
  height: 250px;
  width: 280px;
}

.panlogo{
  height: 250px;
  width: 280px;
}

.full{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  padding-top: 230px;
}

.land{
  padding-top: 280px;
}
.land2{
  padding-top: 90px;
}

.land1{
  padding-top: 250px;
  padding-left: 400px;
  
}

.ad{
  padding-left: 120px;
  align-items:center;
  justify-content: center;
}

.form{
  background-color: white;
  width: 50%;
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  
}
.div{

    background-color: white;
    width: 40%;
    padding: 22px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border: 5ch;
    border-color: rgb(37, 13, 13);

}