@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar{
    background-color: rgb(253, 179, 237);
    height: 65px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .land1{
    padding-top: 100px;
  }


.land2{
    padding-top: 190px;
  }

.link {
    
    margin-top: 20px;
    width: 30px;
    height: 27px;
    
}


.navbar a {
    float: left;
    text-align: center;
    padding: 5px;
    text-decoration: none;

}

.leftbox {
    float:left; 
    background:rgb(251, 253, 251);
    width:25%;
    height:80px;
    padding-top: 25px;
}
.middlebox{
    float:left; 
    background:rgb(251, 253, 251);
    width:25%;
    height:80px;
    padding-top: 30px;
}
.rightbox{
    float:right;
    background:rgb(251, 253, 251);
    width:25%;
    height:80px;
    padding-top: 30px;
}
.div1{
    display: flex;
    margin-left: 200px;
}

.div2{
    display: table-column;
    background: yellow;
}
