<nav class="navbar">
  <div class="container-fluid">
    <div class="">
        <%= link_to "SOCIO",new_user_session_path,  class: "", method: :get%>
    </div>
    <% if current_user %>
      <%= button_to "Log out", destroy_user_session_path, class: "btn btn-info", method: :delete %>
    <% end %>
  </div>
</nav>