<div>
<%= button_to "Recruiter", recruiter_path, class: "box", method: :get%>
</div>

<div>
<%= button_to "Applicant", applicant_path, class: "box", method: :get%>
</div>

<div>
<%= button_to "Job Application", job_application_path, class: "box", method: :get%>
</div>

